{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TelList</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Telsortid</th>
                <td>{{ entity.telSortId }}</td>
            </tr>
            <tr>
                <th>Telnumber</th>
                <td>{{ entity.telnumber }}</td>
            </tr>
            <tr>
                <th>Contactid</th>
                <td>{{ entity.contactId }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tellist') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tellist_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
